@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/inicio.css" asp-append-version="true" />
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" asp-action="indexinicio">UTS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-action="indexinicio">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Edificios
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-action="indexedificio1">Edificio 1</a></li>
                        <li><a class="dropdown-item" asp-action="indexedificio2">Edificio 2</a></li>
                        <li><a class="dropdown-item" asp-action="indexedificio3">Edificio 3</a></li>
                        <li><a class="dropdown-item" asp-action="indexedificio4">Edificio 4</a></li>
                        <li><a class="dropdown-item" asp-action="indexedificioH">Edificio H</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Aulas
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-action="indexmagna">Aula Magna</a></li>
                        <li><a class="dropdown-item" asp-action="indexauditorio">Auditorio</a></li>
                        <li><a class="dropdown-item" asp-action="indexjuntas">Sala de juntas</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="index">Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container my-3">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 py-4 bg-white">
            <h2>Inicio</h2>
            <br>
            <h6>¡Bienvenido a nuestro proyecto de apartado de aulas! Estamos emocionados de presentarte esta plataforma en desarrollo que tiene como objetivo facilitar la reserva de aulas para todos los profesores e incluso estudiantes.</h6>
            <br>
            <h6>En esta página, podrás encontrar una manera sencilla y conveniente de reservar aulas para tus clases y actividades académicas. Estamos trabajando arduamente para hacer que la experiencia de reservar aulas sea más rápida, eficiente y accesible para todos.</h6>

        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script type="text/javascript" src="~/js/site.js"></script>